
        body{
            width: 85%;
            max-width: 950px;
            min-width; 320px;
            font-size: 100%;
            font-family: 'Libre Baskerville', serif;
            margin: auto;
            background-color: #f0f0f0;
            color: #666666;
            line-height: 1.4em;
            }

section {padding: 2em 0 2em 0}
            
/* TYPEOGRAPHY */

        h1, h2, h3 {
            font-weight: normal;
            color: black;
        }
        
        h1 {font-size: 3.375em;}
        h2 {font-size: 2em;}
        h3 {font-size: 1.5em;}
        
        a {
    color: firebrick;
}
    
.intro {fontsize: 1.25em;
        line-height: : 1.9em;
        padding: 2em 0 2em 0}
/* top right bottom left */
